@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&family=Fredoka+One&family=Hind+Madurai:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:opsz,wght@9..144,900&family=Fredoka+One&family=Hind+Madurai:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Fraunces', serif; */
/* font-family: 'Barlow', sans-serif; */
body {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);

}

.container {
    width: 1280px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* HEADER QISMI  */
.logo__coffe {
    font-family: 'Fraunces', serif;
    font-weight: 900;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0px;
    text-align: center;
    width: 100%;
    background: rgb(255, 253, 253)
}

.header-container {

    margin-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    width: 1280px;
    /* margin:15px 0px 0px 0px ; */
}

.logo__brand {
    display: flex;
}
.mobile-icon{
    display: none;
}
.logo__list {
    display: flex;
}

.logo__brand a {
    display: flex;
    align-items: baseline;
    font-family: 'Fraunces', serif;
    color: black;
    font-size: 20px;
}

.logo__list--item {
    margin-left: 32px;
}

.logo__list--item a {
    font-weight: 700;
    font-size: 12px;
    color: #83888F;
}

/* MAIN QISMI  */
.main-container {
    margin-top: 65px;
    /* background: #A2A2A2; */
   background-image: url(../images/Bitmap2.png);
   background-repeat: no-repeat;
    border-radius: 10px;
    padding: 117px 0px 85px 85px;
}

.great {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 72px;
    color: #FEFCF7;
    width: 493px;
    margin: 0px 0px 32px 0px;
}

.main--great {
    width: 445px;
    font-size: 16px;
    color: #FEFCF7;
    line-height: 26px;
    opacity: 0.8;
}

.main--button {
    background: #0E8784;
    border-radius: 6px;
    color: #fff;
    border: 0;
    width: 217px;
    height: 56px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 18px;
    text-align: center;
    color: #FEFCF7;
}

.main--button:hover {
    background: #fff;
    color: #0E8784;
    transition: 1s;
    box-shadow: 1px 1px 1px rgb(155, 154, 154);
}

/* COLLECTION QISMI  */
.collection {
    padding-top: 210px;
}

.collection--blog {
    width: 1111px;
    height: 196px;
    background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
    margin-right: 60px;
    margin-left: 85px;
    background-image: url(../images/our-collection.png);
    background-repeat: no-repeat;
    opacity: 0.3;
}

/* .collection--our {
    font-family: 'Fraunces', serif;
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    line-height: 72px;
    text-align: left;
    color: #83888f33;
    width: 1111px;
} */

.expresso {
    position: relative;
    top: -220px;
}

.expresso--great {
    color: #333D4B;
}

.exspesso-list__item-gran--exper {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    margin-bottom: 24px;
}

.exspesso-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
    margin-left: 48px;
}


.expresso--great {
    width: 255px;
    text-align: center;
    color: #333D4B;
}

.exspesso-list__item {
    margin-top: 71px;
}

/* CHOOSE QISMI  */
/* .choose-container{
   
} */
.large {
    text-align: center;
    background: #2C343E;
    border-radius: 10px;
    padding-top: 100px;
    padding-bottom: 317px;
}

.large--choose {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
    /* width: 329px; */
    text-align: center;
}

.large--level {
    width: 540px;
    font-size: 16px;
    line-height: 26px;
    /* text-align: center; */
    color: #FEFCF7;
    padding: 32px 0px;
    opacity: 0.8;
    /* display: flex;
    justify-content: center; */
    margin: 0 auto;
}

.quality {
    display: flex;
    flex-wrap: wrap;
    margin: 0 85px;
    gap: 0px 30px;
}

.quality__benifits {
    background: #0E8784;
    border-radius: 8px;
    padding: 72px 48px 48px 47px;
    text-align: center;
    margin-bottom: 14px;
    position: relative;
    bottom: 228px;
    flex-grow: 2;
}

.quality__benifits--best {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
    margin: 56px 0px 24px 0px;
    width: 255px;
}

.quality .quality__benifits:nth-child(3) img {
    margin: 11px 0px;
}

.quality__benifits--discover {
    text-align: center;
    color: #FEFCF7;
    width: 255px;
}

/* WORKS QISMI  */
.works__circle {
    display: flex;
    position: relative;
    top: 13px;
    /* padding-left: 15px; */
}

.works-container {
    padding: 0px 85px;
}

.works__circle--item {
    /* width: 27px; */
    padding: 11.5px;
    height: 23px;
    border-radius: 50%;
    border: 2px solid #0E8784;
    margin-right: 347px;
    background: #fff;

}
/* .works__circle--item:nth-child(2){
margin-right:350px
} */



.works__number {
    display: flex;
margin-left: 10px;
/* margin-top: 87px; */
}

.works__number--item {
    /* font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA; */
    /* padding-top: 87px; */
    padding-right: 95px;
}

.works__number--item:nth-child(1) {
    /* padding-right: 290px; */
    border-top: 2px solid #FDD6BA;
}

.works__number--item:nth-child(2) {
    /* padding-right: 272px; */
    border-top: 2px solid #FDD6BA;
    /* padding-right: 93px; */
} 
/* .works__number--item-two{
    border-top: 2px solid #FDD6BA;
    padding-right: 85px;
} */
.works__number--item-one{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
    padding-top: 87px;
}

.works--how {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px;
}

.works__pick {
    display: flex;
    margin-top: 38px;
}
.works__pick--cofee {
    width: 255px;
    margin-bottom: 42px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.works__pick  .works__pick--select {
    width: 285px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    
    
    color: #333D4B;
}
/* 
.works__pick--item {
    margin-right: 95px;
}  */

.works__button {
    border: 1px solid #fff;
    margin-top: 64px;
    padding: 15px 31px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    background: #0E8784;
    border-radius: 6px;
    cursor: pointer;
}
.index-button{
    margin-top: 56px;
}
.works__button:hover{
    background: #fff;
    color:#0E8784 ;
    border: 1px solid #0E8784;
    transition-duration: 1s;
}

 
/* FOOTER QISMI  */
.footer-container {
    background: #2C343E;
    padding: 47px 85px;
    display: flex;
    margin-top: 200px;
}

.logo__brand--coffero {
    color: #fff;
}

.social-list {
    display: flex;
    gap: 0 24px;
}

.footer-logo__list {
    padding: 0px 369px 0px 103px;
}



/* 2-SAHIFA  */

/* MAIN QISMI  */

.about_us {
    background-image: url(../images/Bitmap.png);
    margin-top: 65px;
    background-repeat: no-repeat;
    height: 450px;
    padding: 137px 750px 85px 85px;
    /* background: #A2A2A2; */
    border-radius: 10px;
}

.about_us--began {
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.about_us--choose {
    text-align-last: left;
    margin-bottom: 24px;
}

.commit-container {
    margin-top: 168px;
    display: flex;
    gap: 0px 125px;
}

.commit__image {
    padding: 0px 0px 86px 40px;
    margin-left: 15px;

}

.commit__image img {
    width: 445px;
    height: 520px;
    background: #0E8784;
    border-radius: 8px;
}

.commitment {
    color: #333D4B;
    margin-top: 90px;
}

.commit__word--built {
    width: 540px;
    color: #333D4B;
    opacity: 0.8;
}

/* UNCOMPROMISING QISMI  */
.container-uncompromising {
    display: flex;
    background: #2C343E;
    border-radius: 10px;
    padding: 88px 0px 0px 85px;
    position: relative;
    margin-top: 256px;
}

.uncompromising--journey {
    width: 540px;
    opacity: 0.8;
    margin-top: 32px;
    margin-bottom: 176px;
}

.uncompromising__image {
    position: absolute;
    /* left: 750px; */
    right: 85px;
    bottom: 88px;
}

.uncompromising__image img {
    border-radius: 8px;
}

/* HEADQUARTERS QISMI  */
.headquarters-container {
    margin-top: 168px;
    padding-left: 85px;
}

.headquarters__item img {
    margin-bottom: 45px;
}

.headquarters__item--kingdom {
    width: 272px;
}

.headquarters__item--united {
    width: 285px;
    height: 107px;
}

.headquarters-list {
    display: flex;
    gap: 0px;
}


/* 3- sahifa  */

.creat_plan {
    background-image: url(../images/sahifa_3.png);
}

.creat-works-container {

    background: #2C343E;
    border-radius: 10px;
    margin-top: 177px;
    padding-top: 90px;
    padding-bottom: 109px;
}

.creat-works__circle--item {
    background: transparent;
}

.creat-works__pick--cofee {
    color: #FEFCF7;
}

.creat-works__pick--select {
    color: #FEFCF7;
}




.every-container {
    display: flex;
    margin-top: 135px;
    padding: 0px 70px;
}
.introduct{
    margin-bottom: 88px;
    margin-top: 20px;
}
.intro {
    margin-right: 125px;
}

.intro-item--span {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-right: 28px;
}

.intro-item--span2 {
    color: #0E8784;
}

.intro-item--span:hover {
    color: #0E8784;
}

.intro-item--span5 {
    color: #83888F;
}

.intro-item--prefer {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.intro__item {
    border-bottom: 1px solid #83888F;
    opacity: 0.25;
    padding: 24px 0;
}

.every--large {
    color: #83888F;
}

.introduct__path {
    display: flex;
    justify-content: space-between;
}

.path--box {
    margin-left: 128px;
    width: 16px;
    height: 16px;
    border-top: 5px solid #0E8784;
    border-left: 5px solid #0E8784;
    transform: rotate(45deg);

}

.path {
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.capsule{
    margin-top: 56px;
    display: flex;
    gap: 0 32px;
}

.capsule__system {

    /* width: 228px;
    height: 250px; */
    background: #F4F1EB;
    border-radius: 8px;
    padding: 32px 30px 84px 30px;
}
.capsule__system:hover{
    background: #0E8784;
    transition-duration: 1s;
}
.capsule__system:hover .capsule__system--capsul{
    color: #FFFFFF;
    transition-duration: 0.8s;
}
.capsule__system:hover .capsule__system--compatible{
    color: #FEFCF7;
    transition-duration: 0.8s;
}
.capsule__system--capsul {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
    margin-bottom: 24px;
}

.capsule__system--compatible {
    width: 172px;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}
.capsule__sytems{
    background: #0E8784;
}
.capsule__systems--capsul{
    color: #FFFFFF;
}
.capsule__systems--compatible{
    color: #FEFCF7;
}
.desaf{
    background: #2C343E;
    padding:31px 64px;
}
.desaf--order{
font-size: 16px;
line-height: 26px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 0.5;
margin-bottom: 8px;
}
.desaf--ground{
font-family: 'Fraunces', serif;
font-weight: 900;
font-size: 24px;
line-height: 40px;
color: #FFFFFF;
width: 602px;
}
.desaf--ground>span{
    color: #0E8784;
}
.introduct__button{
    margin-top: 40px;
   margin-left: 545px;
}
.logo__brand a img{
    margin-right: 8px;
}